<div class="center-wrapper">
    <div class="main-center">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="forgotPassword()">
            <h2 class="text-center">Forgot password</h2>
            <p class="text-center">Enter your email address</p>
            <div class="form-group">
                <label class="required">Email</label>
                <input type="email" class="form-control" formControlName="email"
                       placeholder="Email">
              <div
                *ngIf="resetPasswordForm.controls['email'].invalid && (resetPasswordForm.controls['email'].touched || submitted)">
                    <span *ngIf="resetPasswordForm.controls['email'].errors?.['required']" class="error-message">
                        Email is required.
                    </span>
                <span *ngIf="resetPasswordForm.controls['email'].errors?.['email']" class="error-message">
                      Please enter a valid email address.
                    </span>
              </div>
            </div>
          <app-loader *ngIf="isLoading"></app-loader>
          <button class="m-t-40  btn-primary w-100 btn" [disabled]="resetPasswordForm.invalid || submitted">
            Send Reset Password Email
          </button>

          <div class="btn-group justify-content">
            <button class="btn-secondary btn" routerLink="../login">Sign In</button>
            <button class="btn-secondary btn" routerLink="../register">Sign Up</button>
          </div>
        </form>
    </div>
</div>
