

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  background-color: rgb(245, 247, 251);
  font-family: 'Roboto', sans-serif !important;
  //min-height: 100vh;
}

.text-center {
  text-align: center;
}

.form-container {
    max-width: 500px;
    min-width: 350px;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.m-l-auto {
  margin-left: auto;
}
.form-control {
  width: 100%;
  border: 1px solid rgb(221, 216, 216);
  padding: 13px 15px;
  border-radius: 4px;
}

.form-control:focus {
  border-color: rgb(64, 114, 251);
}

.form-group {
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-t-10 {
  margin-top: 10px;
}
label {
  color: black;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 16px;
  display: block;
}

.justify-content {
  justify-content: center;
}

.center-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 14px 14px;
}

.btn-primary {
  padding: 12px 15px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 4px;
  background-color: #17a2b8;
  border: none;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

  &:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 11px;
    right: -20px;
    transition: 0.5s;
  }

  &:hover,
  &:focus {
    padding-right: 40px;
    padding-left:8px;
  }

  &:hover:after,
  &:focus:after {
    opacity: 1;
    right: 20px;
  }
}

.btn-secondary {
  background-color: #00A4BE;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;

  &:hover,
  &:disabled,
  &:focus {
    opacity: 0.5;
  }
}

.btn-group {
  display: flex;
}

.btn-group button ~ button {
  margin-left: 35px;
}

.btn-primary:disabled,
.btn-primary[disabled] {
  opacity: 0.6;
  cursor: default;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  display: block;
}

input {
  width: 100%;
  padding: 12px 10px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.container {
  padding: 0px 20px;
  max-width: 1800px;
  margin: auto;
}

.container-medium {
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
  padding: 32px 20px;
}

main {
 margin-top: 61px;
}

textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 10px;
  margin: 6px 0;
  display: inline-block;
}

.d-flex {
  display: flex;
}

.m-l-auto {
  margin-left: auto;
}

.flex-end {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.file-input {
  display: none;
}

.file-name{
  display: flex;
  align-items: center;
  .delete-btn{
    cursor: pointer;
    background: #c5444a;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 10px;
    border: none;
    padding: 5px 8px;
    &:hover{
      opacity: 0.7;
    }
  }
}

.upload-btn {
  cursor: pointer;
  padding: 12px 35px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #73bf73;
  margin-bottom: 15px;
  &:hover {
    background-color: #73bf73;
    color: #fff;
    transition: 0.3s;
  }
}

.create-btn {
  cursor: pointer;
  padding: 12px 35px;
  font-size: 16px;
  background-color: #17a2b8;
  border-radius: 8px;
  border: 2px solid #17a2b8;
  color: #fff;

  &:hover:enabled {
    background-color: transparent;
    color: #000;
    transition: 0.3s;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.cancel-btn {
  cursor: pointer;
  padding: 3px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid lightgray;
  background-color: lightgray;
  color: black;
  margin-right: 10px;
  &:hover:enabled {
    background-color: transparent;
    color: #000;
    transition: 0.3s;
  }
}

.create-btn {
  margin-left: 20px;
}

.comment-item {
  margin: 20px 0;
  display: flex;

  img{
      height: 45px;
      width: 45px;
      border-radius: 50%;
  }
  .message-content, .send-message-content{
    margin-left: 10px;
    border-radius: 10px;
    width: calc(100% - 45px);
  }
  .message-content {
      padding: 15px;
      text-align: start;
      .name {
          font-weight: bold;
          font-size: 16px;
          text-transform: capitalize;
      }
      .message {
          margin-top: 15px;
          font-size: 15px;
          white-space: pre-line;
      }
  }
  .my-comment {
      background-color: #efefef;
  }
  .other-comment {
      background-color: #e8f1f3;
  }
}
.col-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.col-4, .col-8 {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 100%;
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.required:after {
  content: " *";
  color: red;
}
[class^="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

section {
  padding: 30px 0;
}
@media only screen and (min-width: 414px) {
  .filter-form {
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) {
  .col-4 {
    width: 50%;
    flex: 0 0 50%;
  }
  .col-8 {
    flex: 0 0 66.666667%;
    width: 66.666667%;
  }

}
@media only screen and (min-width: 992px) {
  .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.33333%;
  }
  .flex-1 {
    flex: 1;
    min-width: 0;
  }
  .flex-400 {
    min-width: 400px;
    max-width: 400px;
  }
}