.search-container {
  background-color: #ffffff;
  max-width: 300px;
  height: 44px;
  border-radius: 5px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 15px;

  input {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    margin-right: 15px;
    .disabled {

    }
  }

  button {
    background-color: #ffffff;
    border: none;
    padding-right: 15px;
    cursor: pointer;
  }
}

.my-pagination ::ng-deep .ngx-pagination {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;

  .current {
    background-color: #17a2b8;
  }
}
