<div class="auth-content">
    <div class="auth-item">
        <h1 class="title">Reset Password</h1>
        <form (ngSubmit)="resetPassword()" action="" [formGroup]="passwordForm">
            <div class="form-item">
              <div><label for="password">New password</label></div>
              <div class="password-content">
                <input placeholder="Password"
                       name="password"
                       [type]="isShowPassword?'text':'password'"
                       formControlName="newPassword">
                <i (click)="changePasswordType()" [ngClass]="isShowPassword?'fa-eye':'fa-eye-slash'"
                   class="fa eye-icon"></i>
              </div>
              <span class="error-message"
                    *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">Password
                    is required</span>
              <span class="error-message"
                    *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">Min
                    length
                    is {{passwordForm.controls['newPassword'].getError('minlength').requiredLength}}</span>
            </div>
          <button [disabled]="passwordForm.invalid || isLoading" class="btn-primary btn reset-btn">Reset</button>
          <div *ngIf="isLoading" class="loader">
            <app-loader></app-loader>
          </div>
          <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>
          <div class="link-to-login"><span>Remember your password?</span> <a routerLink="/login">Log in</a></div>
        </form>
    </div>
</div>
