<div class="container">
    <div class="main-container">
        <form [formGroup]="resetPasForm" (ngSubmit)="formResetSubmit()">
            <div class="forgot-password">
                <h2>Reset Password</h2>
            </div>
            <div class="form-control">
                <label>Password</label>
                <input type="password" name="password" formControlName="newPassword">
                <div *ngIf="resetPasForm.controls['newPassword'].invalid && resetPasForm.controls['newPassword'].touched">
                    <span class="error-message">New password is required</span>
                    <span class="error-message" class="error-message"*ngIf="resetPasForm.controls['newPassword'].errors?.['minlength']">Password length must be equal or greater than 
                        {{resetPasForm.controls['newPassword'].getError('minlength').requiredLength}} characters
                    </span>
                </div>
            </div>
            <div class="errors" *ngFor="let error of errors">
                <span>{{error}}</span>
            </div>
            <div class="buttons">
                <button class="reset-button" type="submit" [disabled]="!resetPasForm.valid">Reset</button>
                <div class="link-buttons">
                    <span class="register"> Cancel? 
                        <a routerLink="/login">Login</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
