.auth-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    .auth-item {
        background: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
        padding: 20px 10px;
        margin: auto;
        border-radius: 5px;
        width: 55%;

        .link-to-login {
            text-align: center;
            span {
                font-size: 12px;
            }
            a {
                margin-left: 10px;
                text-decoration: underline;
                color: #4285f4;
            }
        }
        form {
            width: 80%;
            margin: 0 auto;

            .form-item {
                margin: 15px auto 0;
                label {
                    font-size: 15px;
                }
                .password-content{
                    display: flex;
                    align-items: center;
                }
                //input {
                //    background-color: none;
                //    border: 1px solid #ccc;
                //    width: 100%;
                //    border-radius: 5px;
                //    padding: 10px;
                //    margin: 5px 0;
                //    font-size: 15px;
                //}

                .eye-icon {
                    margin-left: -25px;
                    cursor: pointer;
                }

            }
        }

        .title {
            text-align: center;
        }
        .reset-btn {
            margin: 20px auto;
            width: 100%;
            justify-content: center;
            &:hover,
            &:disabled {
                opacity: 0.5;
            }
        }
    }
}

@media screen and(max-width:630px) {
    .auth-item {
        width: 100% !important;
    }
}
