<div class="auth-content">
    <div class="auth-item">
        <h1 class="title">Reset Pasword</h1>
        <form (ngSubmit)="resetPassword()" action="" [formGroup]="passwordForm">
            <div class="form-item">
                <div><label for="password">New password</label></div>
                <div class="password-content"><input placeholder="password" name="password"
                        [type]="isShowPassword?'text':'password'" formControlName="newPassword">
                    <i (click)="changePasswordType()" [ngClass]="isShowPassword?'fa-eye':'fa-eye-slash'"
                        class="fa eye-icon"></i>
                </div>
                <span class="error"
                    *ngIf="passwordForm.get('newPassword')?.hasError('required') && passwordForm.get('newPassword')?.touched">Password
                    is required</span>
                <span class="error"
                    *ngIf="passwordForm.get('newPassword')?.hasError('minlength') && passwordForm.get('newPassword')?.touched">Min
                    length
                    is {{passwordForm.controls['newPassword'].getError('minlength').requiredLength}}</span>
            </div>
            <button [disabled]="passwordForm.invalid || isLoading" class="reset-btn">Reset</button>
            <app-loading *ngIf="isLoading"></app-loading>
            <div *ngIf="errorMessage" class="error error-msg">{{errorMessage}}</div>
            <div class="link-to-login"><span>Remeber your password?</span> <a routerLink="/auth/login">Log in</a></div>
        </form>
    </div>
</div>