.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(206, 198, 198);
}

a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;

}

a:visited{
    color: black;
}


.active{
    background: #1469d9;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.active:visited{
    color: white;
}
.routes{
    align-items: center;
    display: flex;
}

.logout{
    cursor: pointer;
}

.userMenu{
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.open{
    cursor: pointer;
}

.menu{
    list-style: none;
}
.userImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

