<div class="header">
    <div class="title"><h1>Angular Course</h1></div>

    <div class="routes">
        <a routerLinkActive="active" routerLink="/home" 
        [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLinkActive="active" routerLink="/users">Users</a>
        <a routerLinkActive="active" routerLink="/posts">Posts</a>

        <div class="userMenu">
            <img class="userImg" src="assets/default.png" >
            <fa-icon class="caretDown open" [icon]="faCaretDown" ></fa-icon>
            <ul class="menu">
                <li>
                    <a  routerLink="/my-profile">My Profile</a>
                </li>
                <li>  
                    <a routerLink="/my-posts">My Posts</a>
                </li>
                <li>
                    <a (click)="logout()" class="logout"> Logout </a>
                </li>
            </ul>
        </div>
    </div>

</div>