<app-loading *ngIf="isLoading"></app-loading>
<div class=" main">
  <form class="form" [formGroup]="form">
    <h2>Sign In</h2>
    <div class="form-control">
      <label class="margin">Email</label>
      <input  type="email" formControlName="email" />
      <div class="formErr">
        <div class="val" *ngIf = 'form.controls["email"].invalid && form.controls["email"].touched'>
          <span *ngIf="form.controls['email'].hasError('email')" class="errors margin">
          invalid email
          </span>
          <span *ngIf="form.controls['email'].hasError('required')" class="errors margin">
            Required
          </span>

        </div>
     </div>
    </div>
    <div class="form-control">
      <label class="margin">Password</label>
      <input  [type]="inutType" formControlName="password"/>
      <span (click)="showHidePass()" [ngClass]="showPassword?'openedEye':'closedEye'" ></span>
      <div class="formErr">
        <div class="val" *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
          <span *ngIf="form.controls['password'].hasError('required')" class="errors margin">
            Required
          </span>
        </div>
      </div>
    </div>

    <div class="action">
      <button (click)="login()" class="display">Sign In</button>
    </div>
    <div class="val err">
        <span class="errors margin">{{errorMsg}}</span>
    </div>
    <div class="forgot">
      <label> 
        <input type="checkbox" formControlName = 'RememberMe' /> 
        <span>Remember me</span> 
      </label>
      <a routerLink="/auth/forgot-password" >
        Forgot password 
      </a>
    </div>
    <div class="sign-up">
      Not a member? <a routerLink="/auth/register">Register</a>
    </div>
</form>
</div>

<router-outlet></router-outlet>
