
.form-control, .action,  .sign-up, .err {
 padding: 10px 40px;
 }

 .form-control {
    position: relative;
 }

 .forgot {
    display: flex;
    justify-content: center;
}

.forgot span {
    margin-left: 5px;
}

.forgot a {
    margin-left: 15px;
}

button {
    width: 100%;
}

.val {
    display: flex;
    justify-content: left;
}

.sign-up {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.display{
    cursor: pointer;
}
.sign-up a {
    margin-left: 10px;
}

