
form .form-control, .action,  .sign-up, .err {
 padding: 20px 40px;
 }

//  .form-control {
//      display: flex;
//      justify-content: center;
//  }

 .forgot {
    display: flex;
    justify-content: center;
}

.forgot a {
    margin-left: 15px;
}

button {
    width: 100%;
}

.val {
    display: flex;
    justify-content: left;
}

.err {
    width: 60%;
}

.sign-up {
    display: flex;
    justify-content: center;
}

.display{
    cursor: pointer;
}
.sign-up a {
    margin-left: 10px;
}

