<h1>Sign Up</h1>
<form [formGroup]="userData">
    <label>Email</label>
    <input formControlName="email">
    <span *ngIf="email!.hasError('email') && email!.touched && email!.dirty">please giv the mail</span>
    <br>
    <label>Password</label>
    <input formControlName="password" type="password">
    <span *ngIf="password!.hasError('minlength') && password!.touched">min length password 5</span>
    <br>
    <button (click)="login()">Sign in</button>
</form>
<br>
Not a member <a routerLink="/auth/register">Register?</a>