.active {
  border-bottom: 2px solid black;
}

header {
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  background-color: #fff;
  padding: 10px 30px;
  //overflow: hidden;
  border-bottom: 1px solid #d0d0d0;
  z-index: 4;

  .flex-container {
    display: flex;
    justify-content: flex-end;
  }

  .flex-container > a,.dropdown {
    position: relative;
    display: block;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    padding: 5px 5px;
    border-bottom: 2px solid transparent;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;

    }

  }
  .dropdown {
    a {
      display: flex;
      align-items: center;
      i {
        margin-left: 5px;
      }

    }
  }
  .flex-container > a:hover,.dropdown:hover{
    border-color: black;
  }

  .flex-container > a.disabled {
    pointer-events: none;
    cursor: default;
    color: #cccccc !important;
  }

  .title {
    font-size: 25px;
  }
  .push {
    margin-left: auto;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: -5px;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    border: 1px solid #d0d0d0;
    &:before {
      content:"";
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
      position: absolute;
      right: 10px;
      top: -8px;
    }
    &:after {
      content:"";
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #d0d0d0;
      position: absolute;
      right: 10px;
      top: -9px;
      z-index: -1;
    }
    a {
      float: none;
      color: black;
      padding: 9px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  }



  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media(max-width: 640px) {
    .title {
      font-size: 20px;
    }
  }
  @media(max-width: 550px) {
    .title {
      display: none;
    }
  }
}

