.active {
  border-bottom: 2px solid black;
}

header {
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  background-color: #fff;
  padding: 10px 30px;
  overflow: hidden;
  border-bottom: 1px solid #d0d0d0;
  z-index: 2;

  .flex-container {
    display: flex;
    justify-content: flex-end;
  }

  .flex-container > a {
    display: block;
    margin: 0 10px;
    text-align: center;
    font-size: 16px;
    padding: 5px 5px;
  }
  .flex-container > a:hover{
    border-bottom: 2px solid black;
  }

  .flex-container > a.disabled {
    pointer-events: none;
    cursor: default;
    color: #cccccc !important;
  }

  .title {
    font-size: 25px;
  }
  .push {
    margin-left: auto;
  }
  @media(max-width: 640px) {
    .title {
      font-size: 20px;
    }
  }
  @media(max-width: 550px) {
    .title {
      display: none;
    }
  }
}

