

header {
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px 30px;
  border-bottom: 1px solid #d0d0d0;
  z-index: 4;
  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar-brand {
    font-size: 25px;
    color: #000;
    &:hover {
      color: #000;
    }
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    .nav-item {
      margin: 0 10px;
      .nav-link {
        display: block;
          position: relative;
          text-align: center;
          font-size: 18px;
          padding: 9px 15px;
          border-bottom: 2px solid transparent;
           color: #000;
           &:hover {
            color: #000;
             &:not(.active) {
             color: #17a2b8;
             }
           }
           &.active {
            border-color: #17a2b8;
          }
      }
    }
  }
  .account-user-avatar {
    margin-left: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    >.nav-item {
      >.nav-link {
       display: flex;
       align-items: center;
       position: relative;
       i {
         margin-left: 5px;
       }
   }
   .dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    font-size: 15px;
    border: 1px solid #d0d0d0;

    &:before {
      content:"";
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #fff;
      position: absolute;
      right: 10px;
      top: -8px;
    }
    &:after {
      content:"";
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #d0d0d0;
      position: absolute;
      right: 10px;
      top: -9px;
      z-index: -1;
    }
    a {
      float: none;
      color: black;
      padding: 9px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      border-left: 2px solid transparent;
      &:hover {
        border-color: #17a2b8;
        background-color: #f2f2f2;
      }
    }
  }
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
 }
}
}
@media only screen and (max-width: 767px) {
  header {
    .navbar-brand {
      font-size: 18px;
    }
    .navbar-nav {
      .nav-item {
        margin: 0 4px;
        .nav-link {
          font-size: 15px;
          padding: 7px 10px;
        }
      }
    }
  }
  .dropdown-content {
    font-size: 14px;
  }
}

