<div class="header">
    <div class="header-container">
        <div class="logo">
            <h3>Angular Project</h3>
      </div>
      <ul>
          <li *ngFor="let item of navItems">
              <a [routerLink]="item.route" [routerLinkActive]="item.routerLinkActive">
                  {{item.label}}
              </a>
          </li>
          <div class="dropdown">
            <div class="user_img_content">
                <img [src]="myProfileInfo?.profilePictureUrl | setUserImage"  (error)="onImageError()" >
            </div>
            <button class="dropbtn">
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="../main/profile-settings">Profile Settings</a>
              <a  href="#" (click)="onLogOut()">LogOut</a>
            </div>
          </div> 
      </ul>
    </div>
</div>
