.users{
    padding: 0 25px;
}

h1 {
    text-align: center;
}

.search{
    display: flex;
    justify-content: center;    
}

input{
    height: 35px;
    padding-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    font-size: 16px;
    
}
.searchIcon {
    color: rgb(117, 117, 117);   
    cursor: pointer;
}

.user{
    display: grid;
    grid-template-columns:repeat(3,31%);
    grid-gap: 25px;
    white-space: nowrap;
    margin-top: 30px;
}

input:focus-visible{
    outline: none;
}


button {
    border: 1px solid #ccc;
    border-radius: 4px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    width: 30px;
    padding-top: 5px;
}
