<app-header></app-header>

<h1>Users</h1>
<div class="search">
    <input type="text" placeholder="Search" >
    <button><fa-icon class="searchIcon" [icon]="faMagnifyingGlass"></fa-icon></button>
    
</div>

<div class="user">
<div class="userCard">
    <div class="imgContent">
        <div class="img">
                <!-- <img src="" /> -->
                
        </div>      
    </div>
    <div class="userCardBody">
        <p>Name Surname</p>
        <p>Email</p>
    </div>    
</div>
</div>
