<app-header></app-header>

<h1>Users</h1>
<div class="search">
    <input type="text" placeholder="Search" >
    <button><fa-icon class="searchIcon" [icon]="faMagnifyingGlass"></fa-icon></button>
    
</div>

<div class="user">
    <app-user-card *ngFor="let user of users$ | async" [user]="user"></app-user-card>
</div>
<div class="custom">
    <div #userCard  *ngFor = "let n of pageArr,let in = index"> 
        <button class="customBtn" (click) = "goToPage(in)">{{in+1}}</button>
    </div>
</div>


