<div class="card-footer">
    <div class="userName">
<p >
<mat-icon class="userIcon">perm_identity</mat-icon>
{{post.user | userName}}
</p>
</div>
<div class = "comments">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
	<mat-icon color="primary">remove_red_eye</mat-icon>
</button>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon color="primary">comment</mat-icon>
    <span>{{post.comments.length}}</span>
</button>
</div>

</div>

