.card-footer {
    border-top: 1px solid rgb(158, 154, 154);
    display: flex;  
    border-radius: 0 0 5px 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;

    .comments{
        position: relative;
        bottom: 12px;
    }
}
button{
    color: #5f9ea0;
    padding: 5px;
    border: 1px solid #5f9ea0;
    margin-right: 5px;
}
.count{
    padding: 3px;
    border-radius: 50%;
    font-size: 15px !important;
    position: absolute;
    right: -14px;
    top: 14px;
    background-color: #5f9ea0;
    width: 18px;
    height: 18px;
    text-align: center;
}
.fa-comment{
    color: #5f9ea0;
}
