.card-footer {
    border-top: 1px solid rgb(158, 154, 154);
    display: flex;  
    border-radius: 0 0 5px 5px;
    align-items: center;
}
.comments {
    margin-right: 5px;
    margin-left: auto;
    margin-top:auto;
    margin-bottom: 5px;
}

.userName {
    margin-top:auto;
    margin-bottom: 5px;
}
.userIcon {
    margin-top:auto;
    margin-bottom: auto;
}
