<h2>register</h2>
<form [formGroup]="form">
  <div class="form-control">
    <input placeholder="First Name" type="text" formControlName="firstName" />
  </div>
  <div class="form-control">
    <input placeholder="Last Name" type="text" formControlName="lastName" />
  </div>
  <div class="form-control">
    <input placeholder="E-mail" type="email" formControlName="email" />
  </div>
  <div class="form-control">
    <input placeholder="Password" type="password" formControlName="password" />
  </div>

  <button (click)="register()" class="display">Sign Up</button>
</form>
Already a member? <a routerLink="/auth/login">Sign In</a>
