
.form-control, .action{
 padding: 5px 40px;
 }

 .form-control {
     position: relative;
 }

button {
    width: 100%;
}

.sign-in {
    display: flex;
    justify-content: center;
}

.sign-in a {
    padding-left: 10px;
}
