<form [formGroup]="form">
  <h2>Register</h2>
  <div class="form-control">
    <label>First Name</label>
    <input  type="text" formControlName="firstName" />
  </div>
  <div class="form-control">
    <label>Last Name</label>
    <input  type="text" formControlName="lastName" />
  </div>
  <div class="form-control">
    <label>E-mail</label>
    <input  type="email" formControlName="email" />
  </div>
  <div class="form-control">
    <label>Password</label>
    <input class="image" type="password" formControlName="password" />
    <div class="image"></div>
    <span class="image"></span>
  </div>
<div class="action">
  <button (click)="register()" class="display">Sign Up</button>
 <div class="sign-in">
  Already a member? <a routerLink="/auth/login">Sign In</a>
 </div>
</div>

 
</form>
