<div class="card-footer">
    <div class="userName">
        <i class="far fa-user"></i>
        <span>
            {{post?.user | userName}}
        </span>
    </div>
    <div class = "comments">
        <button type="button" routerLink="../posts/{{post?.id}}">
            <i class="far fa-eye"></i>
        </button>
        <button routerLink="../posts/{{post?.id}}/edit" *ngIf="isMyPost">
            <i class="far fa-edit"></i>
        </button>
        <i class="far fa-comment"></i>
        <div class="count">{{post?.comments?.length}}</div>
    </div>
</div>

