
<div class="container">
    <div class="user">
        <div>
            <div>
                <img class="userImg" [src]="postsModel?.user?.profilePictureUrl || 'assets/default.png'">
            </div>
        </div>
        <div class="author">
            <p class="fullName">{{postsModel?.user?.firstName}} {{postsModel?.user?.lastName}}</p>
            <p class="data">{{postsModel?.createdAt |date}}</p>
        </div>
    </div>
    <div class="title">
        <h2>{{postsModel?.title}}</h2>
    </div>
    <div class="bodyImg">
        <img [src]="postsModel?.imageUrl || 'assets/default.png'">
    </div>
    <div>
        <p class="text data">{{postsModel?.body}}</p>
    </div>

</div>
<div class="commentContainer">
    <app-comments [postsModel] = "postsModel" [resetText] = "resetText" (userComments)="getComments($event)">
    </app-comments>
</div>