.container{
    width: 60%;
    margin: 20px auto;
}
.author {
    margin-left: 10px;
}

p{
    margin: 0;
}
.user{
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.userImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.fullName{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.data{    
    font-size: 16px;
    color: rgb(73, 72, 72);
}

.title{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

h2{
    font-weight: 900;
    letter-spacing: 0.2px;
}

.bodyImg{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.bodyImg img{
    height: 250px;
}

.text{
    text-align: start;
}
.commentMain{
    display: flex;
    justify-content: center;
    // border: 1px solid blue;   
}



.commentContainer {
    width: 40%;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
}