.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgb(233, 230, 230) solid 2px; 
    background-color: rgb(250, 247, 247);
    border-radius: 2px;
}

.actions {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.icon {
    border: 1px solid #1469d9;
    color: #1469d9;
    padding: 8px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 5px;
}

.actions a {
    display:  inherit;
}
.user {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}

p {
    font-size: 18px;
    padding-top: 5px;
    margin-left: 10px;
}

.user-icon {
    background: url('../../../assets/user.png'), 0, 0, no-repeat;
    height: 20px;
    width: 20px;
}

.comment-icon {
    color: #1469d9;
    background: url('../../../assets/comments.png'), 0, 0, no-repeat;
    height: 25px;
    width: 30px;
    margin-left: 20px;
}

.view-icon {
    color: #1469d9;
    background: url('../../../assets/view.png'), 0, 0, no-repeat;
    height: 25px;
    width: 30px;
    margin-left: 20px;
}

.comment-length {
    font-size: 12px;
    display: block;
    background-color: #1469d9;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    height: 18px;
    width: 25px;
    text-align: center;
    padding-top: 3px;
    position: relative;
    bottom: 10px;
    right: 20px;
}