<div class="footer">
  <div class="user">
    <div class="user-icon"></div>
    <div>
      <p>
        {{ post?.user?.firstName }}
        {{ post?.user?.lastName }}
      </p>
    </div>
  </div>
  <div class="actions">
    
    <fa-icon class="icon" [icon]="faEye"></fa-icon>
    <span *ngIf="post.user.id == userService.currentProfile?.id" (click)="editPost(post.id)">
      <fa-icon class="icon" [icon] ='faEdit'></fa-icon>
    </span>
    
    <fa-icon class="icon" [icon]="faComment">
    </fa-icon>
    <span class="comment-length">
      {{post?.comments?.length}}
    </span>
 
  </div>
</div>
