.login-container {
  position: relative;
  max-width: 35%;
  min-width: 350px;
  margin: 8vh auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.password-content {
  display: flex;
  align-items: center;
}

.eye-icon {
  margin-left: -25px;
  cursor: pointer;
}

.sign-in-button {
  width: 100%;
  margin: 8% auto
}

.checkbox {
  width: auto;
}

.remember-forgot {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 14px;
  margin: 20px auto;
  span {
    padding: 0 10% 0 3%;
  }
}
.flex-container {
  width: 50%;
}
.flex-container:first-child {
  display: flex;
  align-items: baseline;
  & > label {
    margin-left: 10px;
  }
}
.flex-container:last-child {
  display: flex;
  justify-content: end;
}
.not-member {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 14px;

  span {
    margin-right: 5px;
  }
}
