.login-container {
  position: relative;
  width: 22%;
  margin: 20vh auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.password-content {
  display: flex;
  align-items: center;
}

.eye-icon {
  margin-left: -25px;
  cursor: pointer;
}

.sign-in-button {
  width: 100%;
  margin: 8% auto
}

.checkbox {
  width: auto;
}

.remember-forgot {
  font-size: 14px;
  margin: 20px auto;

  span {
    padding: 0 10% 0 3%;
  }
}

.not-member {
  text-align: center;
  font-size: 14px;
  margin: 20px auto;

  span {
    padding: 0 10% 0 3%;
  }
}
