
i {
    font-size: 50px;
}

.form-control, .send{
 padding: 20px 40px;

}

.send, .action, .sign {
 display: flex;
 justify-content: center;
}

.verify{
     background-color:rgb(145, 143, 143);
     width: 100%;
}
.reSend{
    width: 100%;
}

.sign {
    background-color: rgb(42, 172, 189);
    color: rgb(53, 50, 50);
    padding: 25px 20px;
    align-items: center;
}


.signUp{
    margin-left: 60px;
}

