<div class="loader" *ngIf="isLoader">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="main">
    <form>
    <h2>Verify Account</h2>
    <p>Verifying Your account, please wait... </p>

    <div class="send">
        <button class="verify" (click)="showEmail()">
        Re-send activation token
    </button>
    </div>
    
    
    <div *ngIf="emailError">
       
            
            <div class="form-control"> 
                <label class="email">E-mail</label>
           
            
            <input  type="email" [formControl]="email" />
            
              
             <div *ngIf="email?.invalid && email?.touched">
              <span *ngIf="email?.hasError('email')" class="errors">
              invalid Email
              </span>
              <span *ngIf="email?.hasError('required')" class="errors">
                Required
              </span>
        
            </div> 
             </div>
        <div class="send">
            <button class="reSend" (click)="resendActivation()">Send email</button>
        </div>
    </div>
    <div class="action">
        <button class="sign" (click)="signIn()">Sign In</button>
        <button class="sign signUp" (click)="signUp()">Sign Up</button>
    </div>
</form>

</div>
