
i {
    font-size: 50px;
}

.verify{
    background-color:rgb(145, 143, 143);
}

// .sign, .verify{
//     color: #fff;
//     border: none;
//     border-radius: 5px;
//     font-size: 16px;
//     margin: 5px;
//     cursor: pointer;
// }

.sign{
    background-color: #1469d9;
}

.width{
    width: 200px;
}

.email{
    margin-left: -140px;
}