.comment-item {
    margin: 20px 0;
    display: flex;

    img{
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    .message-content {
        margin-left: 10px;
        padding: 15px;
        border-radius: 10px;
        width: calc(100% - 35px);
        text-align: start;
        .name {
            font-weight: bold;
            font-size: 16px;
        }
        .message {
            margin-top: 20px;
            font-size: 15px;
        }
    }
    .my-comment {
        background-color: #c6d1f2;
    }
    .other-comment {
        background-color: #ebeffe;
    }
}
