<div class="view_post">
    <div class="info">
        <div class="user_info">
            <img [src]="post?.user?.profilePicture" alt="user image" class="user_img">
            <div class="user_name">
                <span class="name">{{post?.user | userName}}</span>
                <span class="created_date">{{post?.createdAt | date}}</span>
            </div>
        </div>
    </div>
    <h2 class="post_title"> {{post?.title}}</h2>
    <div class="post_img">
        <img [src]="post?.imageUrl | setImage" (error)="onImageError()" alt="post image">
    </div>
    <div class="post_body">
        <p>{{post?.body}}</p>
    </div>
</div>

<app-comments [post]?="post"></app-comments>