.d-flex {
    display: flex;
}
.flex-end {
    justify-content: flex-end;
}
.icon-bubble {
    color: rgb(64,114,251);
    border: 1px solid rgb(221, 216, 216);
}
.icon-eye {
    color: rgb(64,114,251);
    border: 1px solid rgb(221, 216, 216);
}
.icon-user {
    color: gray;
}
.name-font {
    font-size: 11px;
    color: rgb(207, 202, 202);
}
.card-footer {
    border-top: 1px solid #ccc; 
}



