<div class="container">
    <div class="main-container">
        <form [formGroup]="resetPasForm" (ngSubmit)="formResetSubmit()">
            <div class="forgot-password">
                <h2>Reset Password</h2>
            </div>
            <app-password formControlName= "password"></app-password>
            <div class="errors" *ngFor="let error of errors">
                <span>{{error}}</span>
            </div>
            <div class="buttons">
                <button class="reset-button" type="submit" [disabled]="!resetPasForm.valid">Reset</button>
                <div class="link-buttons">
                    <span class="register"> Cancel? 
                        <a routerLink="/login">Login</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
