.myPosts{
    padding: 0 25px;
}

.title {
    display: flex;
    justify-content: center;
}

  .cards{
      display: grid;
      grid-template-columns:repeat(3,31%);
      grid-gap: 25px;
      white-space: nowrap;
      
  }
  
  .btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    padding-right: 38px;    
  }
  
  .routerBtn{
    background-color: #1469d9;
    color: white;
    border-radius: 5px;
  }