<div class="form-control">
    <label>Password</label>
    <input #input [type]="showEyeIcon? 'password':'text'" type="password" 
            name="password" 
            (blur)="handleBlur()" 
            (input)="onChangeHandler($event)" 
            [value]="value">
            
    <i class="far fa-eye" *ngIf="showEyeIcon" [ngClass]= "showEyeIcon? 'far fa-eye':'far fa-eye-slash'" (click)="toggleShowPassoword()"></i>
    <i class="far fa-eye-slash" *ngIf="!showEyeIcon" (click)="toggleShowPassoword()"></i>  
</div>  

