
.posts{
    padding: 0 25px;
}
.title{
  display: flex;
  justify-content: center;
}

.cards{
    display: grid;
    grid-template-columns:repeat(3,31%);
    grid-gap: 25px;
    white-space: nowrap;
}

.searchAndFilter{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.search{
    display: flex;
    justify-content: center;    
}
.filter{
  margin-left: 7px;
}

input{
    height: 35px;
    padding-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    font-size: 16px;
    
}
.searchIcon {
    color: rgb(117, 117, 117); 
    font-size: 16px;  
    cursor: pointer;
}
input:focus-visible{
    outline: none;
}

button {
    border: 1px solid #ccc;
    border-radius: 4px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;       
}