<div class="container">
    <div class="main-container">
        <form [formGroup]="verifyForm" (ngSubmit)="sendEmail()">
            <div class="forgot-password">
                <h2>Verify Account</h2>
                <span *ngIf="showTitle">Verifying Your account, please wait...</span>
                <span *ngIf="!showTitle">Could not verify account</span>
            </div>
            <mat-spinner determinate class="loading" [diameter]="20" *ngIf="showSpinner"></mat-spinner>
            <button class="reset-button" (click) = "onClick()" [ngClass]="showTitle || showResendEmailForm? 'button-color':'back-color'">
                Re-send activation token
            </button>
            <div class="form-control " *ngIf="showResendEmailForm">
                <label>Email</label>
                <input type="email" name="email" formControlName = "email">
                <mat-spinner class="loading" [diameter]="20" *ngIf="showResendSpinner"></mat-spinner>
                <button type = "submit" class="submit-email-button " [disabled]="verifyForm.invalid">
                    Send mail
                </button>
            </div>
            <div class="buttons">
                <div class="link-buttons">
                    <button routerLink="/login" class="button" type="button">Sign In</button>
                    <button routerLink="/register" class="button" type="button">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
