.verify-account-form {
  padding: 15px 26px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  margin: 15% 35% 0 35%;
  background-color: white;
}

h2 {
  text-align: center;
}

form .btn-group {
  margin-top: 30px;
}

.re-send-button {
  background-color: #888888;
  padding: 12px 40px;
  margin: 10px auto;
  width: 100%;
}

.send-email-button {
  background-color: royalblue;
  color: white;
  width: 100%;
}

.verify-account {
  text-align: center;
}
