<app-loading *ngIf="isLoading"></app-loading>
<div class="card">
    <h1>{{title}} Post</h1>
    <form class="postForm" [formGroup]='formGroup'>
        <div class="inputForm">
            <div class="label">
                <label>Title</label>
            </div>
            <input class="title" formControlName="title" type="text">
            <div class="formErr">
                <div  *ngIf='formGroup.controls["title"].invalid && formGroup.controls["title"].touched'>
                    <span *ngIf="formGroup.controls['title'].hasError('required')" class="errors">
                        Required
                    </span>
                </div>
            </div>
        </div>
        <div class="inputForm">
            <div class="label">
                <label>Body</label>
            </div>
            <textarea class="title" formControlName="body" rows="7px" cols="100px"></textarea>
            <div class="formErr">
                <div *ngIf='formGroup.controls["body"].invalid && formGroup.controls["body"].touched'>
                    <span  *ngIf="formGroup.controls['body'].hasError('required')" class="errors">
                        Required
                    </span>
                </div>
            </div>
        </div>

        <div>
            <input class="inputBtn" type="file" id="img" formControlName="file" #file accept=".jpg, .jpeg, .png"
                (change)="handler($event)">

            <button class="upload" (click)='trigger(file)'>select file</button>
            <div class="formErr">
                <p class="errors" *ngIf='!isImage'>{{errorFile}}</p>
                <p class="errors" *ngIf='!sizeCheck'>{{fileSizeError}}</p>
            </div>

            <div class="file-delete">
                <p>
                    {{fileName }}
                    <span *ngIf='fileName' class="delete" (click)="deleteImg()">
                        x
                    </span>
                </p>
            </div>
        </div>
        <div class="create">
            <button *ngIf="!id else update" class="btn" (click)="create()">Create</button>
            <ng-template #update>
                <button class="btn" (click)="save()">Save</button>
            </ng-template>
        </div>
      
    </form>

</div>