*{
    padding: 10px 0px;
}
label{
    border-radius: 4px;
    
}
form{
    margin: auto;
    width: 80%;
    margin-top: 50px;

    h1{
       text-align: center; 
    }

    input, 
    textarea{
        width: 100%;
        resize: vertical;
        padding-left: 10px;
    } 
    .btn_container{
        position: relative;

        .file_btn{
            border: 1px solid #5f9ea0;
            color: #5f9ea0;
            background-color: white;
            padding: 10px 20px;
            cursor: pointer;
        } 
        .btns{
            position: absolute;
            right: 0;
            top: 50px;

            .create_btn{
                color: white;
                background-color: #5bc5c9;
                padding: 10px 15px;
            }
            a{
                color: black;
            } 
            i{
                margin-right: 20px;
            }
        }
        .close_btn{
            padding: 1px 6px;
            background-color: rgb(231, 55, 55);
        }
    }
}
mat-spinner{
    margin: 0 auto;
}