.flex-col {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 14px;
  margin: 20px auto;
}
.flex-container {
  width: 100%;
  margin-top: 20px;
}
.flex-container:first-child {
  display: flex;
  align-items: baseline;
  & > label {
    margin-left: 10px;
  }
}
.flex-container:last-child {
  display: flex;
  justify-content: flex-end;
}
.preview-image {
  margin: 10px 0;
  img {
    max-height: 180px;
    max-width: 180px;
  }
}
textarea {
  font-family: inherit;
}
