<app-loading *ngIf="isLoading"></app-loading>

<div class = "main">
  <form class="form" [formGroup]="form">
      <h2>Reset Password</h2>
        <div class="form-control">
            <label >New Password</label>
            <input class="inputMargin" [type]="inputType" formControlName="newPassword" />
            <span (click)="showHidePass()" [ngClass]="showPassword?'openedEye':'closedEye'" ></span>
            <div *ngIf="(form.controls['newPassword'].invalid && form.controls['newPassword'].touched) || isTouched">
              <span *ngIf="form.controls['newPassword'].hasError('required')" class="errors">
                    Required
              </span>
              <span *ngIf="form.controls['newPassword'].getError('minlength')" class="errors">
                  Required {{
                    form.controls['newPassword'].getError('minlength').requiredLength - 
                    form.controls['newPassword'].getError('minlength').actualLength
                  }} more characters
              </span>
            </div>
        </div>
      <div class="send">
        <button (click)="resetPassword()">Reset</button>
      </div>
      <div class="action">
        <div class="sign-in">
          Remembered your password? <a routerLink="/auth/login">Sign In</a>
        </div>
      </div>
  </form>
</div>
