
.form-control{
 padding: 20px 40px;
 position: relative;
}

.action{
 padding: 10px 100px;
 display: flex;
 justify-content: center;
}

.send {
    padding: 10px 40px;
}

button {
    width: 100%;
}

 .sign-in a {
    padding-left: 10px;
}

.closedEye, .openedEye {
    position: absolute;
    left: 82%;
    bottom: 32%;
}