<app-loading *ngIf="isLoading"></app-loading>

<div class = "main">
  <form class="form" [formGroup]="resetForm">
      <h2>Reset Password</h2>
        <div class="form-control">
            <label class="margin">New Password</label>
            <input [type]="inputType  " formControlName="newPassword" />
            <span (click)="showHidePass()" [ngClass]="showPassword?'openedEye':'closedEye'" ></span>
            <div *ngIf="(resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched) || isTouched">
              <span *ngIf="resetForm.controls['newPassword'].hasError('required')" class="errors margin">
                    Required
              </span>
              <span *ngIf="resetForm.controls['newPassword'].getError('minlength')" class="errors margin">
                  Required {{
                    resetForm.controls['password'].getError('minlength').requiredLength - 
                    resetForm.controls['password'].getError('minlength').actualLength
                  }} more characters
              </span>
            </div>
        </div>
      <div class="send">
        <button (click)="resetPassword()">Reset</button>
      </div>
      <div class="action">
        <div class="sign-in">
          Remembered your password? <a routerLink="/auth/login">Sign In</a>
        </div>
      </div>
  </form>
</div>
