<div class = "main">
    <form class="form" [formGroup]="resetForm">
  <h2>Reset Password</h2>
    <div class="form-control">
        <label>New Password</label>
        <input [type]="text" formControlName="newPassword" />
        <span (click)="showHidePass()" [ngClass]="showPassword?'openedEye':'closedEye'" ></span>
        <div *ngIf="(resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched) || isTouched">
            <span *ngIf="resetForm.get('newPassword')?.hasError('required')">
                Required
            </span>
            <span *ngIf="resetForm.get('newPassword')?.hasError('minlength')">
              Minimum 6 symbol
            </span>
        </div>
    </div>
 
  
  <div class="send">
    <button (click)="resetPassword()">Reset</button>
  </div>
  
  <div class="action">
    <div class="sign-in">
       Remembered your password? <a routerLink="/auth/login">Sign In</a>
    </div>
  </div>
</form>
  
</div>
