<div class="footer">
  <div class="user">
    <div class="user-icon"></div>
    <div>
      <p>
        {{ post?.user?.firstName }}
        {{ post?.user?.lastName }}
      </p>
    </div>
  </div>
  <div class="actions">
    <a [routerLink] = "['/post-view',post.id]">
      <fa-icon class="icon action" [icon]="faEye"></fa-icon>
    </a>
    
      <fa-icon class="icon action" [icon] ='faEdit' *ngIf="post.user.id == userService.currentProfile?.id" (click)="editPost(post.id)"></fa-icon>
    
    <fa-icon class="icon commentIcon" [icon]="faComment">
    </fa-icon>
    <span class="comment-length">
      {{post?.comments?.length}}
    </span>
 
  </div>
</div>
<!-- [routerLink]="['/post-view',post.id]" -->