<form [formGroup]="updateForm" (ngSubmit)="updateFormSubmit()">
    <h1>Update Post</h1>
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" value="{{post?.title}}" formControlName="title">
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea rows="10" name="body" appMultiline value = "{{post?.body}}" formControlName="body"></textarea>
    </div>
    <div class="btn_container">
        <button type="button" (click)="selectFile()" class="file_btn">Select File</button>
            <!-- <input type="file" name="file" class="file_invisible" #file formArrayName="imageUrl"
              [ngClass]=" isClicked? 'file_visible':'file_invisible'">
         -->
        <div>
            <p>{{post?.imageUrl? post.imageUrl: "No image"}}</p>
        </div>
        <button class="create_btn" type="submit">Create</button>
    </div>
</form>
