<form [formGroup]="updateForm" (ngSubmit)="updateFormSubmit()">
    <h1>Update Post</h1>
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" value="{{post?.title}}" formControlName="title">
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea rows="10" name="body" multiline value = "{{post?.body}}" formControlName="body"></textarea>
    </div>
    <div class="btn_container">
        <label for="title" class="file_btn">Select file</label>
        <div class="file_value"> {{targetValue}} 
            <button class="close_btn" *ngIf="isHidden" (click)="removeFile()">X</button>
        </div>
        <input #inputValue id="title" type="file" class="file_invisible file_btn"
            formControlName="imageUrl" (change)="selectFile($event)" name ="file"/> 
        <div class="update_btns">
            <a routerLink="../../posts"><i class="fas fa-arrow-left"></i></a>
            <button class="create_btn" type="submit">Update</button>
        </div>
        
    </div>
</form>
