.card{
    border: 2px solid rgb(204, 202, 202);
    border-radius: 5px;
    box-shadow: rgb(116 124 133 / 20%) -11px 11px 24px;
    overflow: hidden;
}


.imgContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    margin: 5px auto;
}

.img img {
    height: 100px;
    width: 100px;
}

.cardBody{
    display: flex;
    justify-content: flex-start;
    margin-left:5px;
    overflow: hidden;
}

<<<<<<< HEAD
.title{
    
}
=======

>>>>>>> 4f1d16baa6dafd615fa883a2a4db6a09e49a0bff
