<h1 class="text-center">Profile settings</h1>
<div class="form-container profile-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
   <div>
    <input type="file" class="file-input" [accept]="extension" (change)="onFileSelected($event)" #fileUpload>
    <div class="upload-image">
      <img #image class="user-avatar" [src]="previewImage | profilePic" (error)="image.src='assets/images/profile_picture.jpg'">
      <div class="button-wrapper">
        <button type="button" class="icon-pencil" (click)="fileUpload.click()"></button>
        <button (click)="onDeleteImage()" type="button" class="delete-btn">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div *ngIf="form.controls['profilePicture'].invalid">
        <p class="error-message" *ngIf="form.controls['profilePicture'].errors?.['fileType']">The picture must be {{extension}}.</p>
        <p class="error-message" *ngIf="form.controls['profilePicture'].errors?.['fileSize']">
          The size of the picture should be smaller than {{form.controls['profilePicture'].errors?.['fileSize'].allowedSize}} MB.
        </p>
      </div>
    </div>
  </div>
    <div>
      <label class="required">First Name</label>
      <input type="text" formControlName="firstName" placeholder="First Name">
      <div *ngIf="form.controls['firstName'].invalid && form.controls['firstName'].touched">
        <p class="error-message" *ngIf="form.controls['firstName'].errors?.['required']">First Name is required.</p>
      </div>
    </div>
    <div>
      <label class="required">Last Name</label>
      <input type="text" formControlName="lastName" placeholder="Last Name">
      <div *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched">
        <p class="error-message" *ngIf="form.controls['lastName'].errors?.['required']">Last Name is required.</p>
      </div>
    </div>
    <app-email formControlName="email" [label]="'Email'"></app-email>
    <app-password formControlName="password" [label]="'Password'"></app-password>
    <app-password formControlName="confirm_password" [label]="'Confirm Password'"></app-password>
    <app-loader *ngIf="isLoading"></app-loader>

    <div class="flex-container">
      <button [disabled]="form.invalid || submitted" class="create-btn">Update</button>
      <a routerLink="/home" class="cancel-btn">Cancel</a>
    </div>
  </form>
</div>
