<div class="wrapper">
    <div class="img_content">
        <h2>Profile Settings</h2>
        <div class="img_container">
            <img [src]=" targetValue | setUserImage" (error)="onImageError()" alt="image of the user" >
        </div>
        <div>  
            <span  class="error-message" *ngIf="form['profilePicture'].errors?.['type']"> The type of image must be jpeg, jpg, png type</span>
            <span class="error-message"  *ngIf="form['profilePicture'].errors?.['size']"> The size of image is greater then 2 Mg</span>
        </div>
        <div class="settings_buttons">
            <input  #file id ="profilePicture" hidden formControlName="profilePicture" type="file"
            name ="profilePicture" accept='image/*' (change) = "onSelectFile(file.files)" /> 
            <label for="profilePicture" class="edit_btn">
                <i class="far fa-edit"></i>
            </label>
            <button class="delete_btn" (click)="clearImg()"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="main-container">
        <form [formGroup]="settingsForm" (ngSubmit)="settingsFormSubmit()">
            <div class="form-control">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" formControlName="firstName">
                <div *ngIf="form['firstName'].invalid && form['firstName'].touched">
                    <span class="error-message" *ngIf="form['firstName'].errors?.['required']">First
                        Name
                        is required</span>
                </div>
            </div>
            <div class="form-control">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" formControlName="lastName">
                <div *ngIf="form['lastName'].invalid && form['lastName'].touched">
                    <span class="error-message" *ngIf="form['lastName'].errors?.['required']">Last Name
                        is
                        required</span>
                </div>
            </div>
            
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email">
                <div *ngIf="form['email'].invalid && form['email'].touched"
                    class="errors">
                    <span class="error-message" *ngIf="form['email'].errors?.['required']">Email is
                        required</span>
                    <span class="error-message" *ngIf="form['email'].errors?.['email']">Email must be
                        an
                        email</span>
                </div>
            </div>
            
            <div class="form-control password_container">
                <label for="password">Password</label>
                <input [type]="showEyeIcon? 'text':'password'" id="password" name="password" formControlName="password">
                <i class="far fa-eye" *ngIf="showEyeIcon" [ngClass]="showEyeIcon? 'far fa-eye':'far fa-eye-slash'"
                    (click)="toggleShowPassoword()"></i>
                <i class="far fa-eye-slash" *ngIf="!showEyeIcon" (click)="toggleShowPassoword()"></i>
                <div *ngIf="form['password'].invalid && form['password'].touched">
                    <span class="error-message" *ngIf="form['password'].errors?.['required']">
                        Required
                    </span>
                    <span class="error-message" *ngIf="form['password'].errors?.['minlength']">
                        Please enter at least
                        {{this.form['password'].getError('minlength').requiredLength}} characters.
                    </span>
                </div>
            </div>
            <div class="errors" *ngFor="let error of errors">
                <span>{{error}}</span>
            </div>
            
            <div class="form-control password_container">
                <label for="confirmPassword">Confirm Password</label>
                <input [type]="showConfirmEyeIcon? 'text':'password'" id="confirmPassword" name="confirmPassword"
                    formControlName="confirmPassword">
                <i class="far fa-eye" *ngIf="showConfirmEyeIcon"
                    [ngClass]="showConfirmEyeIcon? 'far fa-eye':'far fa-eye-slash'"
                    (click)="toggleShowConfirmPassoword()"></i>
                <i class="far fa-eye-slash" *ngIf="!showConfirmEyeIcon" (click)="toggleShowConfirmPassoword()"></i>
                <div *ngIf="this.form['confirmPassword'].invalid && this.form['confirmPassword'].touched">
                    <span class="error-message" *ngIf="this.form['confirmPassword'].errors?.['required']">
                        Required
                    </span>
                    <span class="error-message" *ngIf="this.form['confirmPassword'].errors?.['minlength']">
                        Please emter at least 
                        {{this.form['confirmPassword'].getError('minlength').requiredLength}} characters.
                    </span>
                    <span class="error-message" *ngIf="this.form['confirmPassword'].errors?.['doesNotMatch']">
                       Password and Confirm Password must be match.
                    </span>
                </div>
            </div>
            
            <div class="form-control">
                <button class="save_btn" [disabled]="!settingsForm.valid">Save</button>
            </div>
            
            <mat-spinner [diameter]="50" *ngIf="showSpinner"></mat-spinner>
        </form>
    </div>
</div>