<div class="wrapper">
    <div class="img_content">
        <h2>Profile Settings</h2>
        <div class="img_container">
            <img src="" alt="">
        </div>
        <div class="settings_buttons">
            <button class="edit_btn "><i class="far fa-edit"></i></button>
            <button class="delete_btn"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="main-container">
        <form [formGroup]="settingsForm" (ngSubmit)="settingsFormSubmit()">
            <div class="form-control">
                <label>First Name</label>
                <input type="text" name="firstName" formControlName="firstName">
                <div *ngIf="settingsForm.controls['firstName'].invalid && settingsForm.controls['firstName'].touched">
                    <span class="error-message" *ngIf="settingsForm.controls['firstName'].errors?.['required']">First
                        Name
                        is required</span>
                </div>
            </div>
            <div class="form-control">
                <label>Last Name</label>
                <input type="text" name="lastName" formControlName="lastName">
                <div *ngIf="settingsForm.controls['lastName'].invalid && settingsForm.controls['lastName'].touched">
                    <span class="error-message" *ngIf="settingsForm.controls['lastName'].errors?.['required']">Last Name
                        is
                        required</span>
                </div>
            </div>
            <div class="form-control">
                <label>Email</label>
                <input type="email" name="email" formControlName="email">
                <div *ngIf="settingsForm.controls['email'].invalid && settingsForm.controls['email'].touched"
                    class="errors">
                    <span class="error-message" *ngIf="settingsForm.controls['email'].errors?.['required']">Email is
                        required</span>
                    <span class="error-message" *ngIf="settingsForm.controls['email'].errors?.['email']">Email must be
                        an
                        email</span>
                </div>
            </div>
            <div class="form-control">
                <label>Password</label>
                <input type="text" name="password" formControlName="password">
                <i class="far fa-eye" *ngIf="showEyeIcon" [ngClass]="showEyeIcon? 'far fa-eye':'far fa-eye-slash'"
                    (click)="toggleShowPassoword()"></i>
                <i class="far fa-eye-slash" *ngIf="!showEyeIcon" (click)="toggleShowPassoword()"></i>
                <div *ngIf="settingsForm.controls['password'].invalid && settingsForm.controls['password'].touched">
                    <span class="error-message" *ngIf="settingsForm.controls['password'].errors?.['required']">Last Name
                        is
                        required</span>
                </div>
            </div>
            <div class="errors" *ngFor="let error of errors">
                <span>{{error}}</span>
            </div>
            <div class="form-control">
                <label>Confirm Password</label>
                <input type="text" name="confirmPassword" formControlName="confirmPassword">
                <i class="far fa-eye" *ngIf="showEyeIcon" [ngClass]="showEyeIcon? 'far fa-eye':'far fa-eye-slash'"
                    (click)="toggleShowPassoword()"></i>
                <i class="far fa-eye-slash" *ngIf="!showEyeIcon" (click)="toggleShowPassoword()"></i>
                <div
                    *ngIf="settingsForm.controls['confirmPassword'].invalid && settingsForm.controls['confirmPassword'].touched">
                    <span class="error-message" *ngIf="settingsForm.controls['confirmPassword'].errors?.['required']">
                        Last Name is required
                    </span>
                </div>
            </div>

            <button class="save_btn" [disabled]="!settingsForm.valid">Save</button>

            <mat-spinner [diameter]="50" *ngIf="showSpinner"></mat-spinner>
        </form>
    </div>
</div>