<app-header></app-header>
<div class="container">
    <div class="user">
        <div>
            <div>
                <img class="userImg" [src] ="postsModel?.user?.profilePictureUrl || 'assets/default.png'">
            </div>
        </div>
        <div>
            <p class="fullName">{{postsModel?.user?.firstName}} {{postsModel?.user?.lastName}}</p>
            <p class="date">{{postsModel?.createdAt |date}}</p>
        </div>
    </div>
    <div class="title">
        <h1>{{postsModel?.title}}</h1>
    </div>
    <div class="bodyImg">
        <img  [src] ="postsModel?.imageUrl || 'assets/default.png'">
    </div>
    <div>
        <p class="text date">{{postsModel?.body}}</p>
    </div>
</div>
