.container{
    width: 60%;
    margin: 20px auto;
}
.author {
    margin-left: 10px;
}

p{
    margin: 0;
}
.user{
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.userImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

.fullName{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.data{    
    font-size: 16px;
    color: rgb(73, 72, 72);
}

.title{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

h2{
    font-weight: 900;
    letter-spacing: 0.2px;
}

.bodyImg{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.bodyImg img{
    height: 250px;
}

.text{
    text-align: start;
}
.commentContainer{
    display: flex;
    justify-content: center;
   
}
.commentBody{
    margin-top: 20px;
    border-top: 1px solid rgb(167, 167, 167);
     width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment {    
    width: 100%;
    display: flex;
    justify-content: flex-start;   
}
.comment h3 {
    margin: 0;
}

.commentCard{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.imgContent{
    margin-right: 10px;
}

.message{
    position: relative;
}

textarea {
    border: none;
    border-radius: 5px;
    
    background-color: rgb(139, 152, 224);
}
textarea:focus-visible{
    outline: none;
    color: white;
}

.sendMessage{
    position: absolute;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 5px;
    bottom: 7%;
    right: 4%;
    background-color: transparent;
}

.sendIcon{
    color: blue;
    font-size: 14px;
}