.header {
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(206, 198, 198);
}
.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    margin: 0;
}

a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;

}

a:visited{
    color: black;
}


.active{
    background: #1469d9;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.active:visited{
    color: white;
}

.routes{
    align-items: center;
    display: flex;
    justify-content: flex-end
}

.logout{
    cursor: pointer;
}

.caretDown{
    color: gray;
    font-size: 20px;
    position: relative;
    margin-left: 4px;
}

.userMenu{
    margin-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.open{
    cursor: pointer;
}

.menu{
    list-style: none;
    position: absolute;
    right: 2.5%;
    top: 100%;
    box-shadow: rgb(116 124 133 / 20%) -11px 11px 24px;
    background-color: rgb(247, 247, 247);
    width: 100px;
}

.menu a {
  display: flex;
  justify-content: flex-end;
   margin-top: 3px;
   padding: 5px;
   font-size: 16px;
  border-bottom: 1px solid rgb(221, 218, 218);

}

.userImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.menu a:hover{
    background-color: rgb(231, 225, 225);
}

