
<div class="users">
<h1>Users</h1>
<div class="search">
    <input type="text" placeholder="Search" [formControl] = 'search' >
    <button><fa-icon class="searchIcon" [icon]="faMagnifyingGlass"></fa-icon></button>
    
</div>
<app-loading *ngIf="isLoading"></app-loading>
<div class="user">
    <app-user-card *ngFor="let user of users$ | async" [user]="user"></app-user-card>
</div>
<div class="custom">
    <div *ngFor = "let n of pageArr,let in = index"> 
        <button class="customBtn" (click) = "goToPage(in+1)" >{{in+1}}</button>
    </div>
</div>
</div>
