<div class="form-container login-container">
  <h2>Sign In</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-email formControlName="email" [label]="'Email'"></app-email>
    <app-password formControlName="password"
                  [label]="'Password'">
    </app-password>
    <app-loader *ngIf="isLoading"></app-loader>
    <button [disabled]="form.invalid" class="btn-primary btn sign-in-button">Sign In</button>
    <div class="remember-forgot">
      <div class="flex-container">
        <input id="remember" class="checkbox" type="checkbox" formControlName="remember">
        <label for="remember">Remember me</label>
      </div>
      <div class="flex-container">
        <a routerLink="/auth/forgot-password">Forgot password?</a>
      </div>
    </div>
    <div class="not-member">
      <span>Not a member?</span>
      <a routerLink="../register">Sign up</a>
    </div>
  </form>
</div>
