
.file-input {
  display: none;
}


.upload-btn {
  padding: 12px 35px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #73bf73;
  &:hover {
    background-color: #73bf73;
    color: #fff;
    transition: 0.3s;
  }
}

.create-btn {
  padding: 12px 35px;
  font-size: 16px;
  background-color: dodgerblue;
  border-radius: 8px;
  border: 2px solid dodgerblue;
  color: #fff;
  &:hover {
    background-color: transparent;
    color: #000;
    transition: 0.3s;
  }
}


.flex-col {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 14px;
  margin: 20px auto;
  span {
    padding: 0 10% 0 3%;
  }
}
.flex-container {
  width: 50%;
}
.flex-container:first-child {
  display: flex;
  align-items: baseline;
  & > label {
    margin-left: 10px;
  }
}
.flex-container:last-child {
  display: flex;
  justify-content: flex-end;
}
