<div class="container-medium">
  <h2 class="text-center">Create Post</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label>Title</label>
      <input type="text" formControlName="title">
      <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
        <p class="error-message" *ngIf="form.controls['title'].errors?.['required']">Post title is required</p>
      </div>
    </div>
    <div>
      <label>Body</label>
      <textarea formControlName="body"></textarea>
      <div *ngIf="form.controls['body'].invalid && form.controls['body'].touched">
        <p class="error-message" *ngIf="form.controls['body'].errors?.['required']">Post body is required</p>
      </div>
    </div>

    <div class="flex-col">
      <div class="flex-container">
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">
          <button type="button" class="upload-btn" (click)="fileUpload.click()"> Select file </button>
          <label>{{fileName}}</label>
        </div>
      </div>
      <div class="flex-container">
        <button [disabled]="form.invalid || submitted" class="create-btn">Create </button>
      </div>
    </div>
  </form>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
