<div class="container-medium">
  <h2 class="text-center">{{postId ? 'Update Post' : 'Create Post'}}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label class="required">Title</label>
      <input type="text" formControlName="title">
      <div *ngIf="form.controls['title'].invalid && form.controls['title'].touched">
        <p class="error-message" *ngIf="form.controls['title'].errors?.['required']">Post title is required</p>
      </div>
    </div>
    <div>
      <label class="required">Body</label>
      <textarea formControlName="body"></textarea>
      <div *ngIf="form.controls['body'].invalid && form.controls['body'].touched">
        <p class="error-message" *ngIf="form.controls['body'].errors?.['required']">Post body is required</p>
      </div>
    </div>

    <div class="flex-col">
      <input type="file" class="file-input" [accept]="extension" (change)="onFileSelected($event)" #fileUpload>
      <div class="file-upload">
        <button type="button" class="upload-btn" (click)="fileUpload.click()"> Select file </button>
        <div class="preview-image">
          <img *ngIf="previewImage" [src]="previewImage">
        </div>
        <div class="file-name" *ngIf="fileName">
          <span> {{fileName}} </span>
          <button (click)="deleteImage()" type="button" class="delete-btn">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div *ngIf="form.controls['image'].invalid">
          <p class="error-message" *ngIf="form.controls['image'].errors?.['fileType']">The picture must be {{extension}}.</p>
          <p class="error-message" *ngIf="form.controls['image'].errors?.['fileSize']">
            The size of the picture should be smaller than {{form.controls['image'].errors?.['fileSize'].allowedSize}} MB.
          </p>
        </div>
      </div>
    </div>
    <div class="flex-container">
      <button class="cancel-btn" routerLink="/">Back</button>
      <button [disabled]="form.invalid || submitted" class="create-btn">{{postId ? 'Update' : 'Create'}} </button>
    </div>
  </form>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
