
.posts{
    padding: 0 25px;
}
.title{
  text-align: center;
}

.cards{
    display: grid;
    grid-template-columns:repeat(3,31%);
    grid-gap: 25px;
    white-space: nowrap;
}

.btn{
  display: flex;
  justify-content: end;
  width: 95%;
  margin-bottom: 30px;
}

.routerBtn{
  background-color: #1469d9;
  color: white;
  border-radius: 5px;
}
