:host ::ng-deep.lds-ring div {
    top: 80%;
    width: 150px !important;
    height: 150px !important;
}

.title{
  text-align: center;
}

.cards{
    display: grid;
    grid-template-columns:repeat(3,31%);
    grid-gap:3%;
}