

<div class="main">
  <form>
    <h2>Forgot Password</h2>
    <p>Enter your email address</p>
    <div class="form-control">
      <label>Email</label>
      <input type="email" [formControl]="email">
      <div *ngIf="email.invalid && email.touched || isTouched">
        <span *ngIf="email.hasError('email')" class="errors">
          Invalid Email
        </span>
        <span *ngIf="email.hasError('required')" class="errors">
          Required
        </span>

      </div>


    </div>
    <div *ngIf="isLouder" class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <div class="send">
      <button class="sendPassword" (click)="sendEmail()">Send reset password email</button>
    </div>

    <div class="action">
      <button class="sign" (click)="signIn()">Sign In</button>

      <button class="sign signUp" (click)="signUp()">Sign Up</button>
    </div>

    <span class="errors">{{errMessage}}</span>


  </form>

</div>
<router-outlet></router-outlet>