<p>forgot-password works!</p>

<div class="main">
<form class="form">
  <h2>Forgot Password</h2>
  <p>Enter your email address</p>
  <div class="form-control">
    <label>Email</label>
    <input  type="email"  />
    <div >
      <!-- <span class="errors">
      invalid email
      </span> -->
      <!-- <span class="errors">
        Required
      </span> -->

    </div>

 
  </div>

  <div class="send">
    <button class="sendPassword">Send reset password email</button>


  </div>
  
  <div class="action">
    <button class="sign">Sign In</button>
  
    <button class="signUp">Sign Up</button>
  </div>

  <!-- <span class="errors"></span> -->

  
</form>

</div>
<router-outlet></router-outlet>
