
form .form-control, .send{
 padding: 20px 40px;

}

form .action{
 display: flex;
 justify-content: center;
}

.sendPassword{
    width: 100%;
}

.signUp, .sign {
    background-color: rgb(42, 172, 189);
    color: rgb(53, 50, 50);
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.signUp{
    margin-left: 60px;
}