
.form-control, .send{
 padding: 20px 40px;

}

.action{
 display: flex;
 justify-content: center;
}

.sendPassword{
    width: 100%;
}

.sign {
    background-color: rgb(42, 172, 189);
    color: rgb(53, 50, 50);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px solid;
    text-decoration: none;
}

.signUp{
    margin-left: 60px;
}

.forgot-password {
    padding: 50px 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}