<div>
  <label class="required">{{label}}</label>
  <div class="password-content">
    <input [type]="showPass ? 'text' : 'password'"
           [placeholder]="label"
           [(ngModel)]="password"
           (ngModelChange)="onChange($event)"
           (blur)="onTouch()">
    <i (click)="togglePass()" [ngClass]="showPass ? 'fa-eye' : 'fa-eye-slash'"
       class="fa eye-icon"></i>
  </div>
  <div *ngIf="control.invalid && control.touched">
    <p class="error-message" *ngIf="control.errors?.['required']">Password is required.</p>
    <p class="error-message" *ngIf="control.errors?.['minlength']">
      Min length should be at least {{control.errors?.['minlength'].requiredLength}} digits.</p>
    <p class="error-message" *ngIf="control.errors?.['confirmedValidator']">Password and confirm password should be same.</p>
  </div>
</div>
