<form [formGroup]="createForm" (ngSubmit)="createFormSubmit()">
    <h1>Create Post</h1>
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title"  formControlName="title">
        <div *ngIf="createForm.controls['title'].invalid && createForm.controls['title'].touched" >
            <span class="error-message" *ngIf="createForm.controls['title'].errors?.['required']">Title is required</span> 
            
        </div>
    </div>
    <div class="form-group">
        <label>Body</label>
        <textarea rows="10" name="body" multiline  formControlName="body"></textarea>
        <div *ngIf="createForm.controls['body'].invalid && createForm.controls['body'].touched" >
            <span class="error-message" *ngIf="createForm.controls['body'].errors?.['required']">Body is required</span> 
            
        </div>
    </div>
    
    <div class="btn_container">
        <label for="title" class="file_btn">Select file</label>
        {{isTargetValue}}
        <!-- <ng-container >
            <img src=""   />
        </ng-container> -->
        <button class="close_btn"  *ngIf="isClose" (click)="clearFile($event)">X</button>
        <input  id ="title" hidden   formControlName="image"  type="file" class="file_btn" (change) = "onSelectFile($event)"  name ="image"/> 
        {{errorMessage}}
        
        <div class="btns">
            <a routerLink="../posts"><i class="fas fa-arrow-left"></i></a>
            <button class="create_btn" type="submit">Create</button>
        </div>

    </div>   
      
</form>

    {{errors}}

