<div *ngFor="let comment of comments">
 <form [formGroup]="commentsForm" (ngSubmit)="createComment()">
     <div>
<img [src]="comment.user?.profilePicture | setImage" alt="">  
<span>{{comment?.user | userName}}</span>     
<input type="text" formControlName="message">
<button>submit</button>
</div>
<mat-spinner  [diameter]="20" *ngIf="showSpinner"></mat-spinner>
</form> 
    <p> Username
     <!-- <span>{{comment?.user | userName}}</span> -->
     <p>
         comment
         <span>{{comment.message}}</span> 
     </p>
   <p>
       profilePicture
       <img [src]="comment?.user?.profilePicture | setImage" alt="">
   </p>
   <p >M</p>
</div>
<h2>asda</h2>