.wrapper {
    width: 80%;
    margin: 0 auto;

    .comment_content {
        margin: 0 auto;
        width: 500px;
        margin-top: 60px;
        border-top: 2px solid grey;

        h2 {
            font-size: 27px !important;
        }

        .comments,
        .create_comment {
            width: 100%;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;

            .user_img_content {
                width: 50px;
                height: 50px;
                background-color: rgb(15, 76, 155);
                border-radius: 50%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: rgb(250, 202, 210);
                }
            }


            .comment,
            .comment_form {
                width: 350px;
                padding: 10px;
                border-radius: 4px;
                background-color: #b5e3f5;

                p {
                    word-break: break-word;
                }

                .user_name {
                    text-transform: capitalize;
                    font-weight: 600;
                }

                .submit_btn {
                    padding: 7px;
                    color: #489bbb;
                    font-size: 17px;
                    border: 1px solid #489bbb;
                    margin-left: 46px;
                }

            }
        }
    }
}

textarea {
    width: 210px;
    outline: none;
    border-style: none;
    resize: none;
    word-break: break-word;
    background-color: #e2e7e9;
    overflow: hidden;
}

.my_comment {

    width: 350px;
    padding: 10px;
    border-radius: 4px;
    background-color: #e2e7e9;

    p {
        word-break: break-word;
    }
}

.comment_create {
    display: flex;
    align-items: end;
    height: 40px;
    justify-content: space-between;
}

.comment_form {
    background-color: #e2e7e9 !important;
    border-radius:unset !important;
    box-shadow: 0px 10px 10px grey;
}
.ngx-pagination .current,
.btn-info {
  background: #31b1a5 !important;
  border: transparent !important;
  border-radius: 20px !important;
  margin-top: 100px !important; 
  cursor: pointer;
}
.my_pagination ::ng-deep .ngx-pagination {
    margin-top: 50px;
    padding-bottom: 100px;
    text-align: center;

    li: last-child{
        
    }
}