<div *ngIf="postEntity$ | async as postEntity" class="container-medium">
  <div *ngIf="postEntity.post as post">
    <div class="post-user d-flex align-items-center">
      <img class="img-wrapper" [src]="postEntity?.post?.user?.profilePictureUrl | profilePic" alt="">
      <div class="user-info">
        <p class="user-name">{{postEntity?.post?.user | fullName}}</p>
        <p class="post-date">{{postEntity?.post?.createdAt | date: 'mediumDate'}}</p>
      </div>
    </div>
    <h1 class="post-title">{{postEntity?.post?.title}}</h1>
    <div class="post-image-wrapper">
      <img #image [src]="postEntity?.post?.imageUrl | imageUrl" (error)="image.src='assets/images/default.jpg'" alt="">
    </div>
    <div class="post-body">{{postEntity?.post?.body}}</div>
  </div>
  <div class="flex-container">

    <button class="cancel-btn" routerLink="/posts">Back</button>
  </div>
  <div *ngIf="postEntity.comments as comments" class="post-comment">
    <h3>Comments</h3>
    <div>
      <app-send-message [user]="user" (send)="sendComment($event)"></app-send-message>
      <app-comment-item *ngFor="let comment of comments" [comment]="comment" [userId]="user?.id"></app-comment-item>
    </div>
  </div>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
