<section *ngIf="post$ | async as post" >
    <div class="row">
    <div class="flex-400">
      <div class="sticky-wrapper">
        <div class="m-b-15">
          <a class="back-button" routerLink="/posts">&laquo;Back</a>
        </div>
        <div class="post-user d-flex align-items-center">
          <img class="img-wrapper" [src]="post?.user?.profilePictureUrl | profilePic" alt="">
          <div class="user-info">
            <p class="user-name">{{post?.user | fullName}}</p>
            <p class="post-date">{{post?.createdAt | date: 'mediumDate'}}</p>
          </div>
        </div>
        <h3 class="post-title">{{post?.title}}</h3>
        <div class="post-image-wrapper">
          <img #image [src]="post?.imageUrl | imageUrl" (error)="image.src='assets/images/default.jpg'" alt="">
        </div>
        <div class="post-body">{{post?.body}}</div>
      </div>
    </div>
    <div class="flex-1">
      <div class="comments-wrapper">
      <app-comments [postId]="postId" [user]="user"></app-comments>
    </div>
    </div>
  </div>
</section>


<app-loader class="loader-content" [bigLoader]="true" *ngIf="isLoading"></app-loader>