.img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 10px;
}
.user-name {
    font-size: 15px;
    color: #464242;
    margin-bottom: 5px;
    font-weight: bold;
}
.post-date {
    font-size: 13px;
    color: #796c6c;
}
.post-image-wrapper {
    margin: auto;
    text-align: center;
    img {
        max-height: 160px;
    }
}
.post-title {
    margin-top: 20px;
    text-align: center;
    text-transform: capitalize;
}
.post-body {
    margin: 20px 0;
    font-size: 16px;
}
.post-comment {
    border-top: 1px solid gray;
    max-width: 500px;
    margin: 30px auto 0 auto;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
}
.m-b-15 {
    margin-bottom: 15px;
}
.sticky-wrapper {
    @media only screen and (min-width: 992px) {
        position: sticky;
        top: 95px;
    }
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.comments-wrapper {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}
.back-button {
    color: #a4a3a3;
}
:host::ng-deep {
    app-loader {
        .loader {
            margin-top: 10%;
        }
    }
}
@media only screen and (max-width: 991px) {
    .sticky-wrapper {
        margin-bottom: 20px;
    }
}
