
<div class="mainProfile">
    <div class="profil">
        <h2>Profile Settings</h2>

        
        <div class="profileCard">
        <div>                                                                                                                                                         
            <div class="profileBody">
                <form  [formGroup] = 'form'>


                    <div class="imgContent">
                        <img class="img"    [src] = "img"/>
                        <div class="icons">
                            <div class="actionEdit">
                                <div class="editIcon">
                                    <input class="file" type="file" id="img" formControlName = 'profilePictureUrl'
                                    #file (change)="fileUpload($event)">
                               
                                    <!-- <button  (click)='clickOnFile(file)'> -->
                                        <fa-icon class="icon action" [icon]='faEdit' (click)='clickOnFile(file)' ></fa-icon>
                                    <!-- </button> -->
                                    
                                </div>
                            </div>
                            <div class="actionDelete">
                                <div class="deleteIcon" (click)="deleteImg()">
                                   <fa-icon class="icon xmark" [icon]="faCircleXmark"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="form-control">
                        <label>First Name</label>
                        <input class="inputMargin" type="text" formControlName="firstName" />
                        <div class="formErr" *ngIf="form.controls['firstName'].invalid && form.controls['firstName'].touched">
                            <div>
                                <span *ngIf="form.controls['firstName'].hasError('required')" class="errors">
                                    Required
                                </span>
                            </div>   
                        </div>
                    </div>
                    
                    <div class="form-control">
                        <label>Last Name</label>
                        <input class="inputMargin" type="text" formControlName="lastName" /> 
                        <div class="formErr" *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched">
                            <div>
                                <span *ngIf="form.controls['lastName'].hasError('required')" class="errors">
                                    Required
                                </span>
                            </div>   
                        </div>
                     </div>
                     
                    <div class="form-control">
                        <label>Email</label>
                        <input class="inputMargin" type="email" formControlName="email" /> 
                        <div class="formErr">
                            <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                            
                              <span *ngIf="form.controls['email'].hasError('email')" class="errors">
                              Invalid Email
                              </span>
                              <span *ngIf="form.controls['email'].hasError('required')" class="errors">
                                Required
                              </span>
                            </div>
                          </div>
                   </div>
                    <div class="form-control">
                        <label>Password</label>
                        <input class="inputMargin" formControlName="password" />
                        <img class="eye" >

                        <div class="formErr">
                            <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                              <span *ngIf="form.controls['password'].hasError('required')" class="errors">
                                Required
                              </span>
                              <span *ngIf="form.controls['password'].hasError('minlength')" class="errors">
                                Required {{
                                  form.controls['password'].getError('minlength').requiredLength - 
                                  form.controls['password'].getError('minlength').actualLength
                                }} more characters
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-control">
                        <label>Confirm password</label>
                        <input class="inputMargin" formControlName="confirmPassword" />
                        <img class="eye" > 

                        <div class="formErr">
                            <div *ngIf="form.controls['confirmPassword'].invalid && form.controls['confirmPassword'].touched">
                              <span *ngIf="form.controls['confirmPassword'].hasError('required')" class="errors">
                                Required
                              </span>
                              <span *ngIf="form.controls['confirmPassword'].hasError('minlength')" class="errors">
                                Required {{
                                  form.controls['confirmPassword].getError('minlength').requiredLength - 
                                  form.controls['confirmPassword'].getError('minlength').actualLength
                                }} more characters
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="save">
                        <button (click)="update()">Save</button>
                    </div>
                     
                </form>
            
        </div>

    </div>
</div>