<div>
  <label>{{label}}</label>
  <div class="password-content">
    <input [type]="showPass ? 'text' : 'password'"
           placeholder="Password"
           [ngModel]="password"
           (ngModelChange)="onPasswordChange($event)"
           (blur)="onTouch(password)">
    <i (click)="togglePass()" [ngClass]="showPass ? 'fa-eye' : 'fa-eye-slash'"
       class="fa eye-icon"></i>
  </div>
  <div *ngIf="passwordFormControl?.invalid && passwordFormControl?.touched">
    <p class="error-message" *ngIf="passwordFormControl?.errors?.['required']">Password is required.</p>
    <p class="error-message" *ngIf="passwordFormControl?.errors?.['minlength']">
      Min length should be at least {{passwordFormControl?.getError('minlength').requiredLength}} digits.</p>
  </div>
</div>
