<div>
  <label>{{label}}</label>
  <div class="password-content">
    <input [type]="showPass ? 'text' : 'password'"
           placeholder="Password"
           [(ngModel)]="password"
           (ngModelChange)="onChange($event)"
           (blur)="onTouch()">
    <i (click)="togglePass()" [ngClass]="showPass ? 'fa-eye' : 'fa-eye-slash'"
       class="fa eye-icon"></i>
  </div>
  <div *ngIf="errors">
    <p class="error-message" *ngIf="errors['required']">Password is required.</p>
    <p class="error-message" *ngIf="errors['minlength']">
      Min length should be at least {{errors['minlength'].requiredLength}} digits.</p>
  </div>
</div>
