.post-card-content {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    margin: 10px 0;
    &:hover {
        .card__image {
          filter: contrast(100%);
        }
      }    &:hover {
        .card__image {
          filter: contrast(100%);
        }
      }
  &:hover {
    transition: all 0.5s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  .post-card-body {
    padding: 15px;
    .post-top-content {
      text-align: center;
      img {
          width: 100px;
          height: 100px;
      }
      .post-title {
          margin-top: 10px;
        text-overflow: ellipsis;

        /* Needed to make it work */
        overflow: hidden;
        white-space: nowrap;
      }
  }
  .description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      font-size: 15px;
      margin-top: 10px;
    }
  }
}
