<form class="form forgetPasswordForm">
    <div class="container">
        <h2 class="form-header"> Forgot Password</h2>
        <p class="notify-message">  Enter your email address </p>
        <div class = "form-control" >
            <label class="form-control-label" for ="email"> Email  </label>
                <input name="email" [formControl]="email" type="email" id="email">
                <div class="error-message" *ngIf="email.invalid && (email.touched || email.dirty)" >
                    <span  *ngIf ="email.hasError('email')"> Not an email </span>
                    <span  *ngIf ="email.errors?.['required']"> Please enter email </span>
               </div>   
        </div>
        <div class = "form-control" >
            <button class = "btn btn-send-reset-password" >Send Reset Password Email</button>
        </div>
        <div *ngIf="isLoading |async" class="preloading" >

               
            <mat-progress-spinner mode="indeterminate" aria-valuemin="0" >
    
            </mat-progress-spinner>
    
           
        </div>
        <div class = "redirect" >
          
                <a routerLink="/login"> Sign In </a>
          
         
                <a routerLink="/auth/register"> Sign UP </a>
        
        </div>
       

    </div>
</form>
