/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import '~ngx-toastr/toastr';
.main{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

h2, p {
    text-align: center;
}

form {
    padding: 50px 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-control input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    color: #fff;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #1469d9;
    font-size: 16px;
    cursor: pointer;
}


.errors{
    color: rgb(204, 9, 9);
    font-size: 14px;
}

