/* You can add global styles to this file, and also import other style files */


body {font-family: Arial, Helvetica, sans-serif,;}
form {border: 2px solid #dbd8d8;}
.signin {
    text-align: center;
    color: #04AA6D ;
}
form {
   
   margin-left: 300px;
   margin-right: 300px;
   margin-top: 100px;
   text-align: center;
}

input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
  }
  button:hover {
      opacity: 0.8;
  }

  
.input {
    outline: 0 ;
    box-shadow: none;
}

input:focus-visible {
    outline: 0;
}

.form-control {
    color: rgb(45, 174, 197);
}

.invalid-text {
    color: red;
}
.invalid-control {
    border: 1px solid red
}
.headers {
    color: #04AA6D;
 
}

.forPas {
    color: #04AA6D;
     
}