.register-container {
  margin: 10px auto;
}

.sign-up-button {
  width: 100%;
  margin: 8% auto
}

.already-member {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 14px;
    span {
      margin-right: 5px;
    }
}
