.filter-content {
  align-items: center;
  margin-bottom: 15px;
}
.top-content {
    justify-content: space-between;
}
.filter-form {
  display: flex;
  align-items: center;
}
.search-container {
  background-color: #ffffff;
  max-width: 300px;
  height: 44px;
  border-radius: 5px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  margin-right: 15px;

  input {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  button {
    background-color: #ffffff;
    border: none;
    padding-right: 15px;
    cursor: pointer;
  }
}



@media screen and(max-width:767px) {
    .top-content {
        flex-direction: column;
        p-dropdown,
        .btn-primary {
            margin-top: 10px;
        }
    }
    .filter-content {
      flex-wrap: wrap;
      .search-container {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
      .ng-select.custom { 
        max-width: 100%;
        width: 100%;
      }
      .create-btn {
        margin-top: 15px;
      }

    }
}

.ng-select.custom {
  width: 250px;
  ::ng-deep .ng-select-container {
    height: 44px;
  }
  
}


.ng-select.custom ::ng-deep  .ng-input>input {
  border-radius: 0;
  font-size: 18px;
}


.my-pagination ::ng-deep .ngx-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;

  .current {
    background-color: #17a2b8;
  }
}

