.filter-content {
  .create-btn {
    margin-left: 20px;
    height: 55px;
    margin-top: 20px;
  }
}
.top-content {
    justify-content: space-between;
}
.filter-form {
  display: flex;
  align-items: center;
}
.search-container {
  background-color: #ffffff;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #ccc;

  input {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  button {
    background-color: #ffffff;
    border: none;
    padding-right: 15px;
    cursor: pointer;
  }
}



@media screen and(max-width:765px) {
    .top-content {
        flex-direction: column;
        p-dropdown,
        .btn-primary {
            margin-top: 10px;
        }
    }
}

.ng-select.custom ::ng-deep .ng-select-container {
  height: 44px;
  width: 250px;
  margin-left: 33px;
}

.ng-select.custom ::ng-deep .ng-dropdown-panel{
  width: 250px;
  margin-left: 33px;
}

.ng-select.custom ::ng-deep  .ng-input>input {
  border-radius: 0;
  font-size: 18px;
}


.my-pagination ::ng-deep .ngx-pagination {
  margin: 60px 30px;
  float: right;

  .current {
    background-color: #17a2b8;
  }
}

@media only screen and (min-width: 414px) {
  .ng-select.custom ::ng-deep .ng-select-container {
    margin-left: 0px;
  }

  .ng-select.custom ::ng-deep .ng-dropdown-panel{
    margin-left: 0px;
  }
  .filter-content .create-btn {
    margin-left: 0px;
  }

}
