<h1 class="text-center">Posts</h1>
<div class="filter-content d-flex flex-end container top-content">
  <form [formGroup]="filterForm" class="filter-form">
    <div class="search-container">
      <input formControlName="title" type="text" placeholder="Search by title"
             [readOnly]="isLoading"
             (input)="onPageChange(1)">
      <button type="button"><i class="fa fa-search"></i></button>
    </div>
    <ng-select class="custom" formControlName='user'
               [searchable]="!filterForm.controls['user'].value"
               (change)="onPageChange(1)"
               placeholder="Select a user">
      <ng-option *ngFor="let user of users$ | async"
                 [value]="user.id">
        {{user | fullName: user.id === currentUser?.id}}
      </ng-option>
    </ng-select>
  </form>
  <button class="create-btn " routerLink="/posts/add">
    Create Post
  </button>
</div>
<app-post-container [posts$]="posts$"
                    [totalItems]="totalItems"
                    [itemsPerPage]="itemsPerPage"
                    [currentPage]="currentPage">
</app-post-container>
<pagination-controls *ngIf="!isLoading && totalItems" class="my-pagination"
                     (pageChange)="onPageChange($event)"></pagination-controls>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
