.home{
    padding: 0 25px;
}
.cards{
    display: grid;
    grid-template-columns:repeat(3,31%);
    grid-gap: 25px;
    white-space: nowrap;
    // text-overflow: ellipsis;
}
.title{
    text-align: center;
  }