.re-send {
    margin-bottom: 20px;
    width: 210px;
    margin-left: 15px;
}
.card {
    height: 400px;
    width: 240px;
    margin: 0 auto; 
    float: none; 
    margin-bottom:10px;
}

.title {
    margin-top: 20px;
    text-align: center;
}
.loading {
    margin: 0 auto;     
}
.button {
margin-top: 30px;
margin-right: 40px;
margin-left: 25px;
}
.send-mail {
    margin-top: 25px;
    width: 210px;
    margin-left: 15px;
}
.textSuccess {
    border:solid;
    color: white;
    background-color: green;
    width: 120px;
    text-align: center;
    margin-left: auto;
}
.textError {
    border: 5px;
    border-radius: 5px;
    color: white;
    background-color: red;
    width: 150px;
    text-align: center;
    margin-right:20px
}
.input {
    width: 210px;
    margin-left: 15px;
}