<form class="form forgetPasswordForm">
    <div class="container">
        <h2 class="form-header"> Verify-Account</h2>
        <div *ngIf="isLoading |async" class="preloading" >

                
            <mat-progress-spinner mode="indeterminate" aria-valuemin="0" >

            </mat-progress-spinner>

        
        </div>
        <div class = "form-control" >
            <button class = "btn btn-send-reset-password">Re send Activation Token</button>
        </div>
     

        <div class = "redirect" >
          
                <a routerLink="/login"> Sign In </a>    
          
         
                <a routerLink="/auth/register"> Sign UP </a>
        
        </div>
       

    </div>
</form>
<div class="error-container">
    <span class = "status-errors" *ngIf="isActivationToken">
        {{successMessage}}
    </span>
</div>

