<form class="verify-account-form">
  <h2>Verify Account</h2>
  <div>Verifying your account, please wait...</div>

  <div *ngIf="showLoader" class="loader">
    <app-loader></app-loader>
  </div>
  <button type="button" class="re-send-button" (click)="onResendClick()">Re-send activation token</button>

  <form *ngIf="expandEmailGroup"
        [formGroup]="emailFormGroup" (ngSubmit)="onSendEmail()">
    <span>Email</span>
    <input placeholder="Email" type="email" formControlName="email"/>
    <ng-container *ngIf="isMailInvalid()">
      <div *ngFor="let validation of getValidationError()" class="error-message">
        {{validation}}
      </div>
    </ng-container>
    <button type="submit" class="send-email-button">Send Email</button>
  </form>

  <button type="button" class="sign-in-button" (click)="router.navigateByUrl('/login')">Sign In</button>
  <button type="button" class="sign-up-button" (click)="router.navigateByUrl('/registration')">Sign Up</button>
</form>
