.register-container {
  position: relative;
  width: 22%;
  margin: 20vh auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.sign-up-button {
  width: 100%;
  margin: 8% auto
}

.already-member {
  text-align: center;
  font-size: 14px;

  span {
    padding: 0 10% 0 3%;
  }
}
